parametersSchema:
	compact: structure([
		format: string()
	])

parameters:
	compact:
		format: "{path}:{line}\n ↳ {error}"

services:
	errorFormatter.compact:
		factory: Grifart\PhpstanOneLine\CompactErrorFormatter
		arguments:
			format: %compact.format%

	errorFormatter.oneline:
		factory: Grifart\PhpstanOneLine\CompactErrorFormatter
		arguments:
			format: "{path}:{line} {error}"
